@model TtrxToHtml.Console.Models.JsonData;

@{
    string GetClassName()
    {
        return "btn btn-primary";
    }
}

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Test Report</title>
    <link rel='stylesheet' href='./Contents/bootstrap-3.3.7/css/bootstrap.min.css'>
    @* <link rel='stylesheet' href='./Contents/font-awesome-4.7.0/font-awesome.min.css'> *@
    <link rel="stylesheet" href="./Contents/style.css">
</head>
<body>
    @* <header>
        <h1>Test Results</h1>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="divTable">
                <div class="divTableBody @GetClassName()">
                    <h2 class ="display-2">Test Results</h2>
                    @foreach (var testRun in Model.TestResults.TestRun)
                    {
                        <div class="divTableRow">
                            <div class="divTableCell">@testRun.Name</div>
                        </div>
                    }
                </div>
            </div>
        </main>
    </div>
    <footer>
        <h4>footer</h4>
    </footer> *@
    <nav class="mnb navbar navbar-default navbar-fixed-top">
        @* <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="ic fa fa-bars"></i>
                </button>
                <div style="padding: 15px 0;">
                    <a href="#" id="msbo"><i class="ic fa fa-bars"></i></a>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">En</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Draude Oba <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Upgrade</a></li>
                            <li><a href="#">Help</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-bell-o"></i></a></li>
                    <li><a href="#"><i class="fa fa-comment-o"></i></a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div> *@
    </nav>
    <div class="msb" id="msb">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <div class="brand-name-wrapper">
                        <a class="navbar-brand" href="#"></a>
                    </div>

                </div>

            </div>

            <div class="side-menu-container">
                <ul class="nav navbar-nav">

                    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li class="active"><a href="#"><i class="fa fa-puzzle-piece"></i> Components</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="mcw">
        <div class="cv">
            <div>
                <div class="inbox">
                    <div class="inbox-sb">
                    </div>
                    <div class="inbox-bx container-fluid">
                        <div class="row">
                            @* <div class="col-md-2">
                                
                            </div> *@
                            <div class="col-md-10">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <script src='./Contents/jquery-3.1.1.min.js'></script>
    <script src='./Contents/bootstrap-3.3.7/js/bootstrap.min.js'></script> *@
</body>
</html>



